.div1{
    width: 100%;
    text-align: left;
}
.div1 button{
    text-align: right;
    float:right;
    padding-top: 0px;
}
.footer{
    background-color: grey;
    color: white;
    line-height: 20px;
    position: sticky;
}